.grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-bottom:40px;

}

.card{

background:#1c1f26;

padding:30px;

border-radius:12px;

transition:0.3s;

}

.card:hover{

transform:translateY(-6px);

background:#232730;

}
