body{

margin:0;
font-family:Arial;
background:#f4f6fa;

}

.navbar{

display:flex;
justify-content:space-between;
align-items:center;
background:#2c7be5;
color:white;
padding:15px 30px;

}

.menu{

display:flex;
gap:20px;
list-style:none;

}

.menu li{

cursor:pointer;

}

.page{

padding:40px;

}

.hidden{

display:none;

}

.cards{

display:flex;
gap:20px;

}

.card{

background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);

}

.todo-input{

margin-bottom:20px;

}

ul{

padding:0;

}

li{

list-style:none;
background:#eee;
padding:12px;
margin:10px;
border-radius:6px;
cursor:pointer;

}

.done{

text-decoration:line-through;
color:gray;

}

.timer{

text-align:center;

}

#time{

font-size:60px;

}
