body{
font-family: Arial;
margin:0;
background:#f4f6f9;
text-align:center;
}

header{
background:#2c7be5;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

section{
background:white;
margin:30px auto;
padding:20px;
width:70%;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.input-area{
margin-bottom:20px;
}

input{
padding:10px;
width:60%;
}

button{
padding:10px 15px;
border:none;
background:#2c7be5;
color:white;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#1a5dc9;
}

ul{
padding:0;
}

li{
list-style:none;
background:#eee;
margin:10px;
padding:10px;
border-radius:5px;
cursor:pointer;
}

.done{
text-decoration:line-through;
color:gray;
background:#ddd;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:10px;
border:1px solid #ddd;
}

th{
background:#2c7be5;
color:white;
}

.dark{
background:#1e1e1e;
color:white;
}

.dark section{
background:#2b2b2b;
}

.dark li{
background:#444;
}
